{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block about %}active{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Home Shoppie</h1>
      <p>Home Shoppie Pvt Ltd. is an Indian fashion Website based in Indore, India. Founded by Abbas Malu  in 2020, the website initially focused clothes sales, before expanding into other product categories such as shoes, watches, and other lifestyle products.

The service competes primarily with online seller accross India. <a class="btn btn-primary btn-lg" href="/blog" role="button">Visit Our Blog »</a></p>
    </div>
  </div>



</main>





{% endblock %}
